*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
 
}

.container{
  width: 70%;
  max-width: 1200px;
  margin: 40px auto;
  
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* HEADER */

header p{
  text-align: center;
  font-size: 35px;
  color: #e53170;
  
}

/* MAIN */

main>p{
  text-align: center;
  font-weight: 100;
  padding-top: 40px;
  padding-bottom: 30px;
}

/* CARDS */


.col{
  float: left;
  width: calc((100% - 100px) /3);
  height: 90px;
  margin: 15px 10px;
  text-align: center;
  background-color: rgb(32, 31, 31);
  color: white;
  
}

.col h4, p{
  text-align: left;
  padding: 4px;
}

.col p{
  font-size: 15px;
}

.col h4{
  padding-top: 10px;
}

.mail{
  color: rgb(131, 131, 233);
}

div img{
  float: left;
  width: 90px;
  margin-right: 10px;
}
